*{
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;  }
ul{
	list-style: none;
}
hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #0846aa; }
hr.light {
  border-color: white; }
section {
padding: 100px 0; }
#mainNav{
	border-color: rgba(34, 34, 34, 0.05);
  	background-color: white;
  	transition: all 0.2s;
}
#mainNav .navbar-brand{
	margin-left: 150px;
	font-size: 25px;
	text-transform: uppercase;
  	color: #0846aa;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover{
	color: #0846aa;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover{
	color: #0846aa;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active{
	color: #0846aa !important;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    background-color: transparent; }
.navbar ul{
	margin-right: 15%;
}
header.main-head{
	position: relative;
	width: 100%;
  	min-height: auto;
  	text-align: center;
  	color: white;
  	background-image: url('img/portpolio.jpg');
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
.main-head .header-content{
	position: relative;
	width: 100%;
	padding: 300px 15px 300px;
	text-align: center;
	/*background-image: url('../img/portpolio.jpg');
	background-position: center;
	background-size: cover;*/
}
.main-head .header-content .header-content-inner h1{
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}
.main-head .header-content .header-content-inner hr{
	margin: 30px auto;
}
.main-head .header-content .header-content-inner p{
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 50px;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
}
.main-head .header-content .header-content-inner a{
	padding: 15px 20px;
	background: #0846aa; 
	border-radius: 30px;
	opacity: 0.85;
}
.main-head .header-content .header-content-inner a:hover{
	opacity: 1.0;
}
#resume h1.section-heading{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
section#resume{
  	text-align: center;
	width: 100%;
  	min-height: auto;
  	color: white;
  	background: #0846aa;
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
section#resume hr{
	margin: 20px auto;
	border-color: #ffffff;
}
section#resume p.section-content{
	font-size: 17px;
	font-weight: 300;
	padding: 20px;
	opacity: 0.7;
	text-align: center;
}
section#resume div a{
	padding: 15px 20px;
	background: #ffffff; 
	color: #000000;
	border-radius: 30px;
}
section#resume div a:hover{
	opacity: 0.9;
}
section#skilled{
	width: 100%;
	text-align: center;
  	min-height: auto;
}
section#skilled hr{
	margin: 20px auto;
	border-color: #0846aa;
}
section#skilled .section-heading{
	opacity: 0.9;
}
section#skilled span{
	font-size: 60px;
	color: #0846aa;
	margin: 20px auto;
}
section#skilled ul li{
	font-size: 30px;
}
section#skilled a{
	margin-top: 30px;
	padding: 15px 20px;
	background: #0846aa; 
	border-radius: 30px;
	opacity: 0.85;
}
section#skilled a:hover{
	opacity: 1.0;
}
section#portpolio{
	position: relative;
}
section#portpolio div{
	padding: 0;
	margin: 0;
}
section#portpolio img{
	width: 506px;
	height: 300px;
}
section#portpolio img:hover{
	opacity: 0.3;
}
section#portpolio a .portpolio-box-caption-content{
	position: absolute;
	left: 220px;
	bottom: 125px;
}
section#portpolio a .portpolio-box-caption-content div:first-child{
	font-size: 15px;
	color: #fff;
	opacity: 0.7;
}
section#portpolio a .portpolio-box-caption-content div:nth-child(2){
	font-size: 25px;
	color: #fff;
	opacity: 1;
}
section#ed-background{
	text-align: center;
	width: 100%;
	padding: 50px;
  	min-height: auto;
  	color: white;
  	background: #222;
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
section#ed-background hr{
	margin: 20px auto;
	border-color: #ffffff;
}
section#ed-background p{
	font-size: 17px;
	font-weight: 300;
	padding: 20px;
	opacity: 0.7;
	text-align: center;
}
section#ed-background a{
	padding: 15px 30px;
	background: #ffffff; 
	color: #000000;
	border-radius: 30px;
	opacity: 0.8;
}
section#ed-background a:hover{
	opacity: 1.0;
}
section#ed-background span{
	font-size: 40px;
	color: #fff;
	margin: 10px auto;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.slideshow-container .fade{
  margin-top: 300px;
  width: 100%;
  height: 100%;
}
.slideshow-container .fade img{
  margin-top: -300px;
  width: 100%;
  height: 100%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -150px;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.dot2 {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot2:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}