*{
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;  }
ul{
	list-style: none;
}
hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #0846aa; }
hr.light {
  border-color: white; }
section {
padding: 100px 0; }
#mainNav{
	border-color: rgba(34, 34, 34, 0.05);
  	background-color: white;
  	transition: all 0.2s;
}
#mainNav .navbar-brand{
	margin-left: 150px;
	font-size: 25px;
	text-transform: uppercase;
  	color: #0846aa;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover{
	color: #0846aa;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover{
	color: #0846aa;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active{
	color: #0846aa !important;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    background-color: transparent; }
.navbar ul{
	margin-right: 15%;
}
header.main-head{
	position: relative;
	width: 100%;
  	min-height: auto;
  	text-align: center;
  	color: white;
  	background-image: url('img/portpolio.jpg');
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
.main-head .header-content{
	position: relative;
	width: 100%;
	padding: 300px 15px 300px;
	text-align: center;
	/*background-image: url('../img/portpolio.jpg');
	background-position: center;
	background-size: cover;*/
}
.main-head .header-content .header-content-inner h1{
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}
.main-head .header-content .header-content-inner hr{
	margin: 30px auto;
}
.main-head .header-content .header-content-inner p{
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 50px;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
}
.main-head .header-content .header-content-inner a{
	padding: 15px 20px;
	background: #0846aa; 
	border-radius: 30px;
	opacity: 0.85;
}
.main-head .header-content .header-content-inner a:hover{
	opacity: 1.0;
}
#resume h1.section-heading{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
section#resume{
  	text-align: center;
	width: 100%;
  	min-height: auto;
  	color: white;
  	background: #0846aa;
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
section#resume hr{
	margin: 20px auto;
	border-color: #ffffff;
}
section#resume p.section-content{
	font-size: 17px;
	font-weight: 300;
	padding: 20px;
	opacity: 0.7;
	text-align: center;
}
section#resume div a{
	padding: 15px 20px;
	background: #ffffff; 
	color: #000000;
	border-radius: 30px;
}
section#resume div a:hover{
	opacity: 0.9;
}
section#skilled{
	width: 100%;
	text-align: center;
  	min-height: auto;
}
section#skilled hr{
	margin: 20px auto;
	border-color: #0846aa;
}
section#skilled .section-heading{
	opacity: 0.9;
}
section#skilled span{
	font-size: 60px;
	color: #0846aa;
	margin: 20px auto;
}
section#skilled ul li{
	font-size: 30px;
}
section#skilled a{
	margin-top: 30px;
	padding: 15px 20px;
	background: #0846aa; 
	border-radius: 30px;
	opacity: 0.85;
}
section#skilled a:hover{
	opacity: 1.0;
}
section#portpolio{
	position: relative;
}
section#portpolio div{
	padding: 0;
	margin: 0;
}
section#portpolio img{
	width: 506px;
	height: 300px;
}
section#portpolio img:hover{
	opacity: 0.3;
}
section#portpolio a .portpolio-box-caption-content{
	position: absolute;
	left: 220px;
	bottom: 125px;
}
section#portpolio a .portpolio-box-caption-content div:first-child{
	font-size: 15px;
	color: #fff;
	opacity: 0.7;
}
section#portpolio a .portpolio-box-caption-content div:nth-child(2){
	font-size: 25px;
	color: #fff;
	opacity: 1;
}
section#ed-background{
	text-align: center;
	width: 100%;
	padding: 50px;
  	min-height: auto;
  	color: white;
  	background: #222;
	background-position: center;
	background-size: cover;
	transition: all 0.7s;
}
section#ed-background hr{
	margin: 20px auto;
	border-color: #ffffff;
}
section#ed-background p{
	font-size: 17px;
	font-weight: 300;
	padding: 20px;
	opacity: 0.7;
	text-align: center;
}
section#ed-background a{
	padding: 15px 30px;
	background: #ffffff; 
	color: #000000;
	border-radius: 30px;
	opacity: 0.8;
}
section#ed-background a:hover{
	opacity: 1.0;
}
section#ed-background span{
	font-size: 40px;
	color: #fff;
	margin: 10px auto;
}
